* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    color: #293264;
    font-style: normal;
    font-size: 16px;
}
main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 4em;
    max-width: 800px;
    background: #F5F7FB;
    background-image: url("./background1.png"), url("./background2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 0%, 0% 100%;
    background-size: 25%, 15%;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.check-button {
    font-size: 16px;
    color: white;
    background: #4D5B9E;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    font-weight: 450;
    border: none;
}